@charset "UTF-8";
/*
Em telas pequenas (até 600px), o conteúdo fique empilhado verticalmente.
Em telas médias (601px a 1024px), o conteúdo fique em duas colunas.
Em telas grandes (acima de 1025px), o layout tenha três colunas.
*/

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .content {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .content p {
        flex: 1;
    }

    .content img {
        max-width: 40%;
        height: auto;
    }
}